<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
    <title>{% block title %}Fidélité !{% endblock %}</title>

</head>

<body>
{% block body %}
    <div class="container-fluid">
        <h1>La fidélité récompensée !</h1>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <a href={{ path("new_clt") }} role="button" class="btn btn-default btn-lg active">Nouveau</br> client</a>
            <a href={{ path("all_clt") }} role="button" class="btn btn-default btn-lg active">Gestion</br> des
                clients</a>
        </div>

        <div class="row">
            <a href={{ path("new_vte") }} role="button" class="btn btn-default btn-lg active">Nouvelle</br> vente</a>
            <a href={{ path("all_vte") }} role="button" class="btn btn-default btn-lg active">Gestion</br> des
                ventes</a>
        </div>

        <div class="row">
            <a href="{{ path("recap_clt") }}" role="button" class="btn btn-default btn-lg active">Fidélité</br>par
                client</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
