<h3>Demande de renouvellement de mot de passe</h3>

<p>Bonjour, vous avez demandé un renouvellement de votre mot de passe,<br>
Merci de vous rendre sur : <a href="{{ url('security_reset_password_api', {'token': token}) }}">Je renouvelle mon mot de passe</a>.
</p>
<p>
A bientôt sur notre site!<br>
L'administrateur</p>