{% extends 'base.html.twig' %}
{% block body %}

    {% block formTitle %}<h2 class="text-center">Connexion</h2>{% endblock %}
        <div class="col-xs-12">
            {% for response in app.session.flashbag.get('response') %}
                <div class="alert alert-warning alert-dismissible row col-xs-12 text-center">
                    <button class="text-center" type="button" data-dismiss="alert" aria-label="close"><span class="text-center" aria-hidden="true">{{ response }}</span></button>
                </div>
            {% endfor %}
            {{ form_start(form, {'attr': {'class': 'formulaire-container text-center '}}) }}
                {{ form_row(form._email, {'label' : 'Votre email de souscription'})}}
                <input class="btn-default" type="submit" value= "Renouveler mon mot de passe" />
            {{ form_end(form) }}
{% endblock %}