<h1>Bonjour {{ client.prenom }},</h1>

<p>Aujourd'hui c'est votre anniversaire !</p>

<p>Toute l'équipe de la CAVE vous souhaite un heureux et agréable <strong>ANNIVERSAIRE</strong>.</p>

<p>Pour cela nous vous offrons un bon cadeau de <strong>5 €</strong> à valoir pour tout achat dans notre magasin.</p>

<p>Vous pourrez vous offrir ainsi un bon petit vin à déguster avec vos amis.</p>



<p>A bientôt.</p>


<p>Ce bon est valable 1 mois à compté de sa réception.</p>

